<!doctype html>
<html>
	<head>
		<title>Salad - Best Restaurants at Dhaka City</title>
		<!-- stylesheet -->
		<link href="assets/css/style.css" rel="stylesheet">
	</head>
	<body>
		<!-- navbar section start -->
		<nav id="navbar-section">
			<section class="container d-flex navbar">
				<a href="index.html" class="navbar-brand">
					Salads
				</a>
				<ul class="d-flex navbar-nav">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="">About</a>
					</li>
					<li>
						<a href="">Menu</a>
					</li>
					<li>
						<a href="">Chef's</a>
					</li>
					<li>
						<a href="">Contact</a>
					</li>
				</ul>
			</section>
		</nav>
		<!-- navbar section end -->
		
		<!-- header section start -->
		<header id="header-section">
			<section class="container d-flex">
				<div class="header-content">
					<h2>Fresh Healthy</h2>
					<h3>Delicious Salads</h3>
					<p>
						Healthy foods to eat everyday, Tasty and healthy vegetables salad with fresh tomatoes, coriander leaves and more.
					</p>
					<a href="">Order Now</a>
				</div>
				<div class="header-poster d-flex">
					<img src="assets/img/banner.png" alt="Delicious Salads" title="Delicious Salads">
				</div>
			</section>
		</header>
		<!-- header section start -->
	</body>
</html>