div{
	width: 400px;
	height: 200px;
	border: 2px solid red;
	overflow: auto;
}
ul{
	padding: 0px;
	margin: 0px;
}
ul li{
	display: inline-block;
	list-style: none inside url(../img/icon.jpg);
}
ul li a{
	text-decoration: none;
}