<!doctype html>
<html>
	<head>
		<title>Web Layout</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>	
		<!-- header section start -->
		<header></header>
		<!-- header section end -->
		
		<!-- nav section start -->
		<nav></nav>
		<!-- nav section end -->
		
		<!-- main section start -->
		<main>
			<article></article>
			<aside></aside>
		</main>
		<!-- main section end -->
		
		<!-- footer section start -->
		<footer></footer>
		<!-- footer section end -->
	</body>
</html>